*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}


body {
    font-size: 1em;
    font-family: Roboto;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1.3em;
}

:root{
    --minon-color: hsl(51, 99%, 49%);
    --white: hsl(62, 79%, 92%);
    --black: hsl(0, 0%, 15%);
}


#navgation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
}

.nav {
    display: none;
}

#home, #minion , #minion-invet , #ultimo-minion  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home img {
    width: 100%;
    max-width: 80%;
}

.home-title {
    margin-top: .5em;
    font-size: 5em;
    color: var(--minon-color);
}

#home iframe {
    position: relative;
    z-index: 2;
    width: 400px;
    height: 200px;
    margin: 1em 0;
    max-width: 100%;
}

.yellownbox0 {
    position:absolute;
    top: -1rem;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 700px;
    background-color: var(--minon-color);
    
    -webkit-clip-path: polygon(0 86%, 100% 75%, 100% 100%, 0% 100%);
    clip-path: polygon(0 86%, 100% 75%, 100% 100%, 0% 100%);
}

#home .info {
    height: 300px;
    background: var(--minon-color);
}

 #space {
    margin-top: 3em;
    padding: 2em 1.5em;
}

.yellownbox{
    background-color: var(--minon-color);
    -webkit-clip-path: polygon(0 77%, 100% 78%, 100% 98%, 0 82%);
    clip-path: polygon(0 77%, 100% 78%, 100% 98%, 0 82%);
    position: absolute;
    top: 18rem;
    width: 100%;
    height: 750px;
}

#minion {
    position: relative;
    top: -30px;

    background-color: var(--minon-color);
}

#minion img, #minion-invet img, #ultimo-minion  img  {
  max-width: 100%;
}

.info-Meet {
    position: relative;
    top: -4em;
    padding: 2em;
}

h3 {
    font-size: 2.5em;
}

.small {
    font-size: 1.1em;
}

.btn-line {
    display: flex;
    flex-direction: row;
   position: relative; 
   top: 4em;
   left: -5em;   
    z-index: 1;
}

.btn-line .btn {
    position: relative;
    width: 75px;
    height: 75px;
    margin-right: 1em;
    border-radius: 50%;
    border: #fff 5px solid;

}

.btn-line .btn i {
    margin-top: .2em;
   font-size: 2em;
}

.nextbtn {
    border: none;
    background-color: transparent;
}

